:root {
    --primary: #132323;
}

div {
    width: 200px;
    height: 100px;
    color: #fff;
    margin: 10px;
}

.animation {
    background:var(--primary);
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.transition {
    background: var(--primary);
    animation: fill 5s 2;
    animation-fill-mode: forwards;
}

.box {
    background: black;
    box-shadow: 77px 43px 31px -2px rgba(194,194,194,0.75);
-webkit-box-shadow: 77px 43px 31px -2px rgba(194,194,194,0.75);
-moz-box-shadow: 77px 43px 31px -2px rgba(194,194,194,0.75);
}

@keyframes move {
    0%{
        transform: translateX(20px);
        background: lime;
    }
    50%{
        transform: translateX(100px);
        background: red;
    }
    75%{
        transform: translateX(-200);
        background: yellow;
    }
    100%{
        transform: translateX(0px);
        background: gray;
    }
}

@keyframes fill {
    0%{
        opacity: 0;
    }
    25%{
        transform: translateX(200px);
        opacity: 0.25;
    }
    50%{
        transform: translateX(-100px);
        opacity: 0.5;    
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

