body {
    background-color: cyan;
}

@media screen and (min-width:500px){
    body {
        background-color: red;
    }
}

@media screen and (min-width:700px){
    body {
        background-color: magenta;
    }
    h1::before {
        content: 'Nice';
    }
    h1::after {
        content: 'Lets go';
    }
}


h1:hover {
    color: white;;
}

h1:active {
    color: purple;
}

div {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 15px;
}

div:hover {
    background: cyan;
}

.one {
    background: blue;
    transition-property: background, border-radius;
    transition-duration: 4s, 2s;
}

.one:hover {
    border-radius: 50%;
}

.two {
    background: black;
    transition-property: background, border-radius, border-top;
    transition-duration: 5s, 3s, 4s;
}

.two:hover {
    border-radius: 50%;   
}