body {
    background-color: cyan;
}

@media screen and (min-width:500px){
    body {
        background-color: red;
    }
}

@media screen and (min-width:700px){
    body {
        background-color: magenta;
    }
    h1::before {
        content: 'Nice';
    }
    h1::after {
        content: 'Lets go';
    }
}


h1:hover {
    color: white;;
}

h1:active {
    color: purple;
}

div {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 15px;
}

div:hover {
    background: cyan;
}

.one {
    background: blue;
    transition-property: background, border-radius;
    transition-duration: 2s, 1.5s;
}

.one:hover {
    border-radius: 50%;
}

.two {
    background: black;
    transition-property: background, border-radius;
    transition-duration: 2s, 1.5s;
}

.two:hover {
    border-radius: 50%;   
}

button{
    margin-top: 55px;
    width: 155px;
    height: 55px;
    border-radius: 5px;
}

button:hover {
    background: black;
    border-radius: 15px;
}

button p:hover{
    color: white;
}

.Classic-button {
    transition-property: background, border-radius, color;
    transition-duration: 0.5s, 0.5s, 1s;
}
p {
    font-size: 1rem;
    font-weight: 700;
    color: black;
}
