body {
    background-color: cyan;
}

@media screen and (min-width:500px){
    body {
        background-color: red;
    }
}

@media screen and (min-width:700px){
    body {
        background-color: magenta;
    }
    h1::before {
        content: 'Nice';
    }
    h1::after {
        content: 'Lets go';
    }
}

h1:hover {
    color: white;
    transition: 1.7ms;
}

h1:active {
    color: purple;
}